.content {
  margin: 30px auto;
}
.header{width: 1480px;
  height: 50px;
  display: flex;
  margin: 0 auto;
  background-color:#eee;
  display: flex;
  justify-content: space-between;
  }
  .header li{cursor: pointer;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  }
  .header li:hover{background-color: #fff;}
  .header .header-l{
    display: flex;
  }
  .header .header-l li{
    margin-right: 10px;
  }
  .header .header-r{
    display: flex;
  }
  .header .header-r li{
    width: 100px;
   margin:0 10px;
  }
  .header .mytb-erji{display: none;background-color: #fff;height: 70px;}
  .header .shoucang-erji{display: none;background-color: #fff;height: 70px;}
  .header .connect-erji{display: none;background-color: #fff;height: 70px;}
  .header .mytb-erji a{display: block;height: 35px;line-height: 35px;}
  .header .mytb-erji a:hover{background-color: blanchedalmond;}
  .header .shoucang-erji a{display: block;height: 35px;line-height: 35px;}
  .header .shoucang-erji a:hover{background-color: blanchedalmond;}
  .header .connect-erji a{display: block;height: 35px;line-height: 35px;}
  .header .connect-erji a:hover{background-color: blanchedalmond;}
  .headbg{width: 100%;
  height: 70px;
  background-image:url(../images/TBindexhdbg.jpg);
  background-repeat: no-repeat ;
  background-position: center;
  background-color: #fd5632;
  cursor: pointer;
  }
.goodsDetail {
  width: 100%;
  height: 500px;
  display: flex;
}

.goodsDetail > .enlargeBox {
  width: 400px;
  height: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
}

.goodsDetail > .enlargeBox > .show {
  width: 400px;
  height: 400px;
  border-bottom: 1px solid #333;
  position: relative;
      cursor: none;
}
.enlargeBox > .show > .mask {
  width: 200px;
  height: 200px;
  background-color: yellow;
  opacity: .5;
  position: absolute;
  left: 100px;
  top: 100px;
  pointer-events: none;
  /* display: none; */
  border-radius: 50%;
}

.goodsDetail > .enlargeBox > .list {
  flex: 1;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.goodsDetail > .enlargeBox > .list > p {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 0;
  border: 1px solid #333;
  cursor: pointer;
}

.goodsDetail > .enlargeBox > .list > p.active {
  border-color: red;
}
.goodsDetail > .enlargeBox >.enlarge {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 600px;
  border: 1px solid red;
  background-image: url(../images/text.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 1000px 1000px;
  display: block;
  border-radius: 50%; 
  margin-left: 100px;
  z-index: 99;
}
.goodsDetail > .goodsInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px;
}

.goodsDetail > .goodsInfo > .desc {
  font-size: 30px;
}

.goodsDetail > .goodsInfo > .price {
  font-size: 20px;
}

.goodsDetail > .goodsInfo > .price > span {
  font-size: 30px;
}

.goodsDetail > .goodsInfo > .num {
  display: flex;
}

.goodsDetail > .goodsInfo > .num > button {
  width: 40px;
  height: 40px;
}

.goodsDetail > .goodsInfo > .num > input {
  height: 43px;
  width: 75px;
  text-align: center;
  border: none;

}

.goodsNav {
  margin-top: 30px;
}
