html, body {
    width: 100%;
    height: 100%;
  }
  header{width: 1920px;
  height: 95px;
  margin: 0 auto;
  }
  header .logo{width: 120px;
  height: 50px;
  margin-left: 170px;
  margin-top: 22px;
  }
  .mainbg{width: 1920px;
   height:600px;
   margin: 0 auto;
   display: flex;
  }
  .info {
    margin-top: 100px;
    margin-left: 200px;
    width: 400px;
    height: 450px;
  }
  
  .info p{float: left;
     width:auto;
    font-size: 12px;
    margin-right:20px;
    margin-top: 20px;
    color: #000;
    cursor: pointer;
  }
  .info p:hover{background-color: #ccc;}
  .info .login {
    width: 300px;
    height: 30px;
  }
  